body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
    font: bold;
}

a {
    text-decoration: none;
    color: #ff4e00;
}

.main-padding {
    padding-left: 30px;
}

.forfatter-tekst {
    font-size: 0.75rem;
    color: rgb(95, 98, 101);
    font-weight: 600;
    text-transform: uppercase;
}

.image-padding {
    padding-top: 1rem;
}

.image-subtext {
    font-size: 0.9rem;
    font-weight: 600;
}

.quote {
    font-size: 1rem;
    white-space: pre-line;
    background-color: bisque;
}

.bildesize {
    max-width: 70%;
    min-width: 30rem;
}

.footer {
    background-color: #ff8100;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

.paragraph {
    font-size: 1rem;
    white-space: pre-line;
}

/* page2.html */

.page2-h1 {
    font-size: 3rem;
    font-weight: bolder;
}

.page2-h2 {
    font-size: 2.5rem;
}

.page2-h3 {
    font-size: 2rem;
    font-weight: bold;
}

/* grid index.html */ 

.p1grid {
    display: grid;
    /* la til en grid på 3 kollonner og 1fr = 25% av ledig plass (hentet fra mozilla) */
    grid-template-columns: 3.125rem minmax(10rem, 40rem);
    grid-template-rows: auto;
}

.p1grid1 {
    grid-column: 2;
    grid-row: 1;
}

/* grid page2.html */

.p2grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto;

}

.p2grid1 {
    grid-column: 2;
    grid-row: 2;
}

.p2grid2 {
    grid-column: 1 / 5;
    grid-row: 4;
}

/* navbar index.html */

.flex-container-navbar {
    display: flex;
    justify-content: space-around;
    background-color: #d6d6d6;
}

.flex-container-navbar>div {
    flex: auto;
    text-align: center;
}

.flex-container-navbar>div>a {
    /* for at hele knappen skal være klikkbar */
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-container-navbar>div:hover {
    background-color: #968680;
}

.navbar-color-text {
    color: black;
}

.active {
    background-color: rgb(247, 122, 77);
}

/* other */

#forfatter-navn {
    color: #ff4e00;
}
